@CHARSET "ISO-8859-1";

.topnav {
	background-color: #E8ADAA;
	overflow: hidden;
}

.topnav a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 12px 15px;
	text-decoration: none;
	font-size: 25px;
}

.topnav a:hover {
	background-color: #ddd;
	color: black;
}

.topnav .icon {
	display: none;
}

@media screen and(max-width: 600px) {
	.topnav a:not (:first-child ) {
		display: none;
	}
	.topnav a:icon {
		float: right;
		display: block;
	}
}

@media screen and(max-width: 600px) {
	.topnav.responsive {
		position: relative;
	}
	.topnav.responsive a.icon {
		position: absolute;
		right: 0;
		top: 0;
	}
	.topnav.responsive a {
		float: none;
		display: block;
		text-align: left;
	}
}

#container {
	width: 1050px;
	height: 500px;
	border: 1px solid black;
	position: relative;
	margin: 0 auto;
}

#container>img {
	width: 100%;
	height: 100%;
	position: absolute;
	opacity: 1;
}

#container>.btn {
	position: absolute;
	width: 50px;
	height: 50px;
	border: none;
	border-radius: 25px;
	top: 200px;
	background: white;
	color: brown;
	font-size: 20px;
}

#container>#btn1:hover {
	box-shadow: 10px 0px 20px 10px black;
}

#container>#btn2:hover {
	box-shadow: 10px 0px 20px 10px black;
}

#container>#btn2 {
	position: relative;
	float: right;
}

.modal-header, h4, .close {
	background-color: #FBB917;
	color: white !important;
	text-align: center;
	font-size: 30px;
}

.modal-footer {
	background-color: #f9f9f9;
}

 #map {        height:400px;        width:100%;       
	
}